* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

body {
  color: #444;
}

.container {
  max-width: 1240px;
  padding: 0px 20px;
  margin: 0 auto;
}

.title {
  margin-bottom: 15px;
}

.btn {
  outline: none;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 18px;
  border: none;
  background-color: #9dc0ed;
  cursor: pointer;
  transition: .5s;
}

.btn:hover {
  background-color: #999;
  color: #fff;
}

.header {
  padding: 15px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__items {
  display: flex;
  align-items: center;
}

.header__item {
  display: flex;
  margin-left: 20px;
}

.header__item p {
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 18px;
  border: none;
  background-color: #f0f0f0;
}

.header #signOut {
  display: none;
}

.header__account {
  display: none;
  margin-left: 20px;
}

.header__balance {
  display: none;
}

.header__network {
  display: none;
}

.home__content {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  padding: 20px 15px;
  border-radius: 10px;
  border: 1px solid #999;
}

.home__sendTransaction {
  display: flex;
  flex-direction: column;
}

.home__input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  background-color: #f0f0f0;
  border: none;
}

.home__sendBtn {
  margin-bottom: 25px;
}

.home__sendToken button {
  width: 100%;
}

.modal {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal__block {
  width: 350px;
  padding: 40px 20px;
  position: inherit;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
}

.modal .btn {
  margin-bottom: 20px;
}

.modal .btn:last-child {
  margin-bottom: 0;
}

.modal__close {
  width: 25px;
  height: 3px;
  border-radius: 10px;
  position: absolute;
  background-color: #666;
  top: 20px;
  right: 10px;
  transform: rotate(45deg);
  cursor: pointer;
}

.modal__close::after {
  transform: rotate(-90deg);
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #666;
}
