*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}

body{
    color: #444;
}
.container{
    max-width: 1240px;
    padding: 0px 20px;
    margin: 0 auto;
}
.title{
    margin-bottom: 15px;
}
.btn{
    outline: none;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 18px;
    border: none;
    background-color: #9dc0ed;
    cursor: pointer;
    transition: .5s;
    &:hover{
        background-color: #999;
        color: #fff;
    }
}

.header{
    padding: 15px 0;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__items{
        display: flex;
        align-items: center;
    }
    &__item{
        display: flex;
        margin-left: 20px;
        p{
            border-radius: 10px;
            padding: 10px 15px;
            font-size: 18px;
            border: none;
            background-color: #f0f0f0;
        }
    }
    #signOut{
        display: none;
    }
    &__account{
        display: none;
        margin-left: 20px;
    }
    &__balance{
        display: none;
    }
    &__network{
        display: none;
    }
}

.home{
    &__content{
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 400px;
        padding: 20px 15px;
        border-radius: 10px;
        border: 1px solid #999;
    }
    &__sendTransaction{
        display: flex;
        flex-direction: column;
    }
    &__input{
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 10px;
        outline: none;
        background-color: #f0f0f0;
        border: none;
    }
    &__sendBtn{
        margin-bottom: 25px;
    }
    &__sendToken{
        button{
            width: 100%;
        }
    }
    
}

.modal{
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0, 0.6);
    &__block{
        width: 350px;
        padding: 40px 20px;
        position: inherit;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 10px;
    }
    .btn{
        margin-bottom: 20px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__close{
        width: 25px;
        height: 3px;
        border-radius: 10px;
        position: absolute;
        background-color: #666;
        top: 20px;
        right: 10px;
        transform: rotate(45deg);
        cursor: pointer;
        &::after{
            transform: rotate(-90deg);
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: #666;
        }
    }
}